## SQL Querys

In [7]:
# Importing packages
import psycopg2
import pandas as pd
import numpy as np
from pandasql import sqldf # helpfull to query and use pandas df to results

In [4]:
## Base funcions

#Method to connect to DB
def connectDB():
    #create a connection
    conn = psycopg2.connect(
    host="localhost",
    database="ads",
    user="postgres",
    password="gremio")

    #create a cursor
    cur = conn.cursor()
    print("Connected")
    return conn, cur

#Selecting the data

def selectData(sql_select):
    #input = Query
    cur.execute(sql_select)
    data = cur.fetchall()

    #showing
    #x = input("Wanna print the data? Press 1 ==>> ____")
    #if x==1:
        #for line in data:
            #print(line)
    return data




create table Students ( sid integer , name text, major text, top_credits integer, gpa real, primary key (sid)  )


CREATE TYPE semester AS ENUM ('Q1', 'Q2', 'Q3', 'Q4');

create table Enrolled
( sid integer ,
 semester semester,
 cid integer, 
 year integer check(year > 2000),
 grade integer, 
 primary key (cid, sid, semester, year), 
 foreign key (sid) references Students )

create table Course (cid integer, title text, dept_name text, credits integer, primary key (cid))

insert into Students (
	Values (1, 'Hans', 'ADS', 20, 4) )
	
insert into Enrolled (
	Values (1, 'Q1', 1, 2001, 20) )
	

insert into Course values(1, 'ADS', 'Comp Science', 20)

In [ ]:

# Define a lambda function to translate your SQL queries to Python
pysqldf = lambda q: sqldf(q, globals())
# Play with your data using SQL. Change the value of the variable 'query' to yield different results
query = 'select * from world'
pysqldf(query)

In [12]:
conn, cur = connectDB()
data = selectData('select * from world')

Connected