In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importing the datasets
bbc = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\bbc.csv")
eteam = bbc = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\eteam.csv", encoding='iso8859_2')
game = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\game.csv")
goal = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\goal.csv", encoding='iso8859_2')
movies = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\movies.csv")
world = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\world.csv", encoding='iso8859_2')
nobel = pd.read_csv(r"C:\Users\hansf\Documents\ADS_2020\DataWrangling\datasets\nobel.csv", encoding='iso8859_2')

In [ ]:
In this lab, we will use the 7 tables that I added on teams. Note: The
queries that will write might not return records. Focus on writing the query
correctly. Write the queries in both SQL and Python unless otherwise stated
explicitly.
Question 1.
If you know that in the world table, the continent of the countries Armenia,
Azerbaijan, Russia, Georgia and Turkey is not Europe. Write a query that
returns the total area of the European countries after adding the area of
these countries.
Question 2.
Write a query that returns the names of the players in the German team who
scored at least one goal with the name of the stadium where they scored the
goals.
Question 3.
Write a query which would show the players and their teams for those who
have scored against France (FRA) in Donbass Arena.
Question 4.
Write a query that displays the name and the the average population of the
continent in the world table.
Question 5.
Write a query to return the number of missing values in each column of the
world table [only in Python for now]. Use the world table.
Question 6.
Write a query that lists the countries with no missing values in their gdp.
Use the world table.
1
Question 7.
Write a query that lists the countries with no missing values in any of their
attributes [only in Python for now]. Use the world table.
Question 8.
Write a query to calculate the average budget for movies produced in USA
since 2010 (incl. 2010). Use the movies table.
Question 9.
Write a query to count the number of unique directors by names. Use the
movies table.
Question 10.
Write a query that returns the years in which no Nobel price is given for
physics. Use the nobel table.
Question 11.
Write a query to count the number of Nobel price winners from Netherlands.
Use nobel table.
Question 12.
Write a query to find the number of Nobel price winners of each country.
Use nobel table.

## question 1

If you know that in the world table, the continent of the countries Armenia,
Azerbaijan, Russia, Georgia and Turkey is not Europe. Write a query that
returns the total area of the European countries after adding the area of
these countries.

In [6]:
world.head()

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230,25500100,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748,2821977,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741,38700000,2.070210e+11,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468,76098,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700,19183590,1.163080e+11,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...

In [7]:
# list to countries to add in Europe
countries = ['Armenia', "Azerbaijan", "Russia", "Georgia", "Turkey"]

In [48]:
europe = sum(world['area'][world['continent']=='Europe']) # area of europe
others = sum(world['area'][world['name'].isin(countries)]) #area of other contries
europe + others

26809176

## Question 2.
Write a query that returns the names of the players in the German team who
scored at least one goal with the name of the stadium where they scored the
goals.

In [49]:
game.head()

     id      mdate                    stadium team1 team2
0  1001   8-Jun-12   National Stadium, Warsaw   POL   GRE
1  1002   8-Jun-12  Stadion Miejski (Wroclaw)   RUS   CZE
2  1003  12-Jun-12  Stadion Miejski (Wroclaw)   GRE   CZE
3  1004  12-Jun-12   National Stadium, Warsaw   POL   RUS
4  1005  16-Jun-12  Stadion Miejski (Wroclaw)   CZE   POL

In [53]:
goal.head()

   matchid teamid                player  gtime
0     1001    POL    Robert Lewandowski     17
1     1001    GRE  Dimitris Salpingidis     51
2     1002    RUS          Alan Dzagoev     15
3     1002    RUS        Roman Shirokov     24
4     1002    CZE          Václav Pilar     52

In [58]:
merged = pd.merge(game, goal, left_on='id', right_on='matchid')
merged.head()

,id,mdate,stadium,team1,team2,matchid,teamid,player,gtime
0,1001,8-Jun-12,"National Stadium, Warsaw",POL,GRE,1001,POL,Robert Lewandowski,17
1,1001,8-Jun-12,"National Stadium, Warsaw",POL,GRE,1001,GRE,Dimitris Salpingidis,51
2,1002,8-Jun-12,Stadion Miejski (Wroclaw),RUS,CZE,1002,RUS,Alan Dzagoev,15
3,1002,8-Jun-12,Stadion Miejski (Wroclaw),RUS,CZE,1002,RUS,Roman Shirokov,24
4,1002,8-Jun-12,Stadion Miejski (Wroclaw),RUS,CZE,1002,CZE,Václav Pilar,52

In [77]:
# Each valeu, represents one goal.
merged[['player','stadium']][merged['teamid'] == 'GER']

            player                   stadium
15     Mario Gómez                Arena Lviv
21     Mario Gómez          Metalist Stadium
22     Mario Gómez          Metalist Stadium
27  Lukas Podolski                Arena Lviv
29     Lars Bender                Arena Lviv
61    Philipp Lahm          PGE Arena Gdansk
63    Sami Khedira          PGE Arena Gdansk
64  Miroslav Klose          PGE Arena Gdansk
65      Marco Reus          PGE Arena Gdansk
71      Mesut Özil  National Stadium, Warsaw

## Question 3.
Write a query which would show the players and their teams for those who
have scored against France (FRA) in Donbass Arena.